
body {
    background-color: #37d6c4 !important;
}

h1 {
    text-align: center;
    font-weight: bold !important;
    color: #fff;
    padding: 20px 0;
}

.card-img-top {
    height:190px;
}

.card {
    height:90%;
    width:auto !important;
}

.card h5 {
    font-weight:bold;
}